body {margin-left: 460px; height:100%; text-align:justify; font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; font-size: 11px; line-height:9px; color:#ffffff; background-color:#090800;}

.tumblrAutoPager_page_info, .tumblrAutoPager_page_separator {display:none;}

.allposts {margin-top:5px; margin-left:500px; width:5px; padding-top:px; overflow:shown;}

a {text-decoration:none; color:#edeef0; -webkit-transition: 0.5s ease-in;}
a:hover {-webkit-transition: 0.5s ease-in; color:#ccc;}

#entry {margin-bottom:5px;    width:400px;}
#entry img { width:400px;}
a img {border:0px;}
#entry:hover .permalink {opacity: 1;}

.info {left:240px; top:0px; padding:10px 10px 10px 10px; position:fixed; width:200px; height:100%; background-color:transparent; border-right: 1px dotted #dedede;}

.blogtitle {font-style:italic; font-family: Baskerville, 'Times New Roman', Times, serif; padding-bottom:4px; text-align:left; font-size:40px; letter-spacing:px; text-transform:lowercase;}

.description {max-width:200px; font-style:italic; margin-top:30px;}

div.navlinks a {letter-spacing:-1px; padding:px; text-align:right; display:block; position:relative; color:#ffffff;}
div.navlinks a:hover {letter-spacing:-1px; display:block; padding:px; color:#ccc;}

.header {margin-left:-200px; position:fixed; width:200px;}

.h2, .title {font-size:9px; font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif; letter-spacing: 0px; text-transform:uppercase;}
.h3 {text-transform:uppercase;}
.h4 {font-family: georgia; font-size:20px; line-height:25px; font-weight:; font-style:italic; letter-spacing: 2px; text-transform:lowercase; display:block;}
.h5 {color:; font-family: arial ; font-size:40px; line-height:41px; font-weight:; font-style:; text-transform:lowercase; text-align:right;}

#pag {letter-spacing:-1px; font-style:italic; width:3px; position:fixed; margin-bottom:-2px; margin-left:-800px; padding:5px; font-size:9px; bottom:2px;}

.audio {background-color:#000000; margin-bottom : -10px;  width:400px;}

.answer {color:#ffffff; margin-bottom:-15px; background-color:}

div.video embed,
div.post div.video object { width:400px; height:300px;}

ol.notes {padding: 0px; margin-top:20px; margin-bottom: 10px; list-style-type: none; font-size:9px; text-align: center;}
ol.notes li.note {text-align:left; border-top: solid 0px #ccc; padding: 0 0 3px 0;}
ol.notes li.note img.avatar {vertical-align: -4px;margin-right: 10px;width: 16px; height: 16px;}
ol.notes li.note span.action {font-weight: normal; font-size: 9px; text-align:left;}
ol.notes li.note span.action a {font-size: 9px;font-weight: normal;text-align:left;}
ol.notes li.note .answer_content {font-size: 9px;font-weight: normal;line-height: 10px;}
ol.notes li.note blockquote {font-size: 9px;border-color: none;padding: 1px 3px;margin: 3px 0 3px 7px;}
ol.notes li.note blockquote a {font-size: 9px;text-decoration: none;}

blockquote {padding-left: 7px; border-left: 1px solid #ffffff; margin: 3px 10px 3px 7px;}

.permalink {font-style: italic; float: right; padding-left: 6px;  margin-left:400px; margin-top:0px; padding-top:0px; position: absolute; text-align: left; width: 50px; height:10px; font-size: 9px; -webkit-transition: 0.5s ease-in; opacity:0;}
.permalink a{color:;}
.permalink a:hover {color:;}
.entry:hover .permalink {opacity: 1;}

